.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px 80px;

    .left-content {
        padding: 35px 50px;
        border: #333 1px solid;
        border-radius: 15px;
        min-height: 750px;
        width: 80%;




        .title {
            font-size: 30px;
            font-weight: 600;
        }

        .q-content {
            .question {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .footer {
            display: flex;
            gap: 15px;
            justify-content: center;

            .btn {
                background-color: transparent;
                color: #333;
                border: 1px solid #ccc;
                width: 80px;
                padding: 8px ;
                border-radius: 6px;
                font-weight: 500;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #f2f2f2;
                    border-color: #999;
                }
            }

            .btn-submit {
                background-color: #333; 
                color: #fff; 
                font-weight: 500;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #555; 
                }
            }


        }

    }

    .right-content {
        border: #333 1px solid;
        border-radius: 15px;
        width: 30%;
    }
}