.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px;


    .left-content {
        border: solid 1px green;
        width: 80%;

        .title {
            font-size: 30px;
            font-weight: 600;
        }

        .q-content {
            .question {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .footer {
            display: flex;
            gap: 15px;
            justify-content: center;
            .btn {
                background-color: transparent;
                color: #333;
                border: 1px solid #ccc;
                padding: 8px 16px;
                border-radius: 6px;
                font-weight: 500;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #f2f2f2;
                    border-color: #999;
                }}


            }

        }

        .right-content {
            border: solid 1px red;
            width: 30%;
        }
    }