.create-question-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 2rem;
  background-color: #ffffff;
  color: #333;
  margin: 0 7rem;
  //   margin: 0 50px;

  .form-column,
  .preview-column {
    flex: 1;
    // background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow-y: auto;
    height: 80vh;

    &::-webkit-scrollbar {
      display: none;
    }

  }


  h2 {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    color: #222;
  }

  .form-group {
    margin-bottom: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    input[type="text"],
    input[type="file"] {
      width: 100%;
      padding: 0.6rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      background: #fff;
      font-size: 1rem;
    }

    .preview-img {

      max-width: 30%;
      border-radius: 0.5rem;
      border: 1px solid #ddd;
    }

    .label-upload {
      cursor: pointer;
    }
  }

  .answer-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    input[type="radio"] {
      accent-color: #333;
      cursor: pointer;
    }

    .remove-btn {
      background: transparent;
      border: none;
      font-size: 1.1rem;
      color: #a00;
      cursor: pointer;
    }
  }

  .action-row {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: flex-end;

    .add-answer-btn {
      background: #eee;
      border: 1px solid #ccc;
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
      cursor: pointer;

      &:hover {
        background: #ddd;
        margin: 0;
      }
    }

    .submit-btn {
      margin: 0;
      background: #333;
      color: #fff;
      padding: 0.7rem 1.2rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background: #555;
      }

      &:disabled {
        background-color: #666666;
        color: #cccccc;
        border-color: #666666;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }








  .preview-card {
    background: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;

    &.active {
      border: 1.5px solid #f5aae6;
      // background-color: #f0f6ff;
      box-shadow: 0 0 8px rgba(96, 165, 250, 0.3);
      border-radius: 6px;
      transition: all 0.2s ease-in-out;
    }
    &:hover{
          transform: translateY(-2px);
            transition: all 0.2s ease;
    }



    .preview-question {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .preview-img {
      max-width: 30%;
      border-radius: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .preview-answers {
      list-style: none;
      padding: 0;

      li {
        padding: 0.4rem;
        border-radius: 0.3rem;

        &.correct {
          background-color: #ffd4f7;
          font-weight: bold;
        }
      }
    }
  }
}